{% extends 'customer/template.index.html.twig' %}

{% block colRight %}

    {% include 'inc/flashMessage.html.twig' %}

    <h1> MISE À JOUR</h1>
    <article class="container">
        <h1>inscription</h1>
{% include 'inc/user.form.html.twig' %}
    </article>

{% endblock %}


