{% extends 'base.html.twig' %}

{% block body %}
<main>
    <h1>profile</h1>


    <div class="row">
        <aside class="col-sm-4">
            <p><a href="#">Compléter mon profil</a></p>
        </aside>
        <div class="col-sm-4">
            {% block colRight %}{% endblock %}
        </div>

    </div>

</main>

    </div>
{% endblock %}


